SERVICE_NAME=subscriptions
SERVICE_HOST=0.0.0.0
SERVICE_PORT=8080
DB_HOST=postgres
DB_PORT=5432
DB_USER=subscriptions
DB_PASSWORD=subscriptions
DB_NAME=subscriptions
DB_SSL_MODE=disable
DB_MAX_CONNS=20
DB_MIN_CONNS=2